/* for the profile photo */
.avatar {
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* around the entire page for borders and general coloring */
.page-container {
  background-color: white;
  min-height: 100vh;
  text-align: center;
  font-family: 'Karla', sans-serif;
  margin-top: 40px;
  margin-bottom: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

/* around all the links for spacing */
.all-link {
  margin-top: 35px;
}

/* around each link */
.link-container {
  display: block;
  max-width: 676px;
  margin: 0 auto 15px auto;
  background-color: #4F7CFE;
  padding-top: 3px;
  padding-bottom: 3px;
  border: 2px solid #4F7CFE;
  color: white;
}

/* changing color on hover */
.link-container:hover {
  cursor: pointer;
  background-color: white;
  color: #4F7CFE;
}

/* removing link underline */
a:link {
  text-decoration: none;
}
