body {
  background-color: white;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(2%,#d463a2),color-stop(90%,#df8565));
  background-image: linear-gradient(#d463a2 2%,#df8565 90%);
}

.avatar {
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.page-container {
  min-height: 88vh;
  text-align: center;
  font-family: 'Karla', sans-serif;
  margin-top: 40px;
  margin-bottom: 50px;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
}
.all-link {
  margin-top: 35px;
}

a {
  display: block;
  max-width: 676px;
  margin: 0 auto 15px auto;
  padding-top: 3px;
  padding-bottom: 3px;
  border: 2px solid white;
  color: white;
  transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
}

a:hover {
  cursor: pointer;
  background-color: white;
  color: #d463a2;
  position: relative;
}
a:link {
  text-decoration: none;
}
